Options -Indexes
Options -Multiviews

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

##Auth
RewriteRule ^login?$ auth/login.php
RewriteRule ^logout?$ auth/logout.php

RewriteRule ^home?$ home.php
RewriteRule ^data?$ uploader/upload.php
RewriteRule ^qna?$ layouts/reporter.php
RewriteRule ^result?$ guest/result.php
RewriteRule ^statistik?$ guest/statistik.php

##guest
RewriteRule ^compl?$ guest/compl.php
RewriteRule ^inf?$ guest/inf.php
RewriteRule ^req?$ guest/req.php
RewriteRule ^saran?$ guest/saran.php
